@import url('style.css');

header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-logo span {
    font-size: 24px;
    color: var(--cor-logo);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: var(--cor-fonte);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--cor-fonte);
    border-bottom: 3px solid var(--cor-logo);
}
