@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: "Open Sans", sans-serif;
}

:root {
    --cor-fundo: #DCCDE8;
    --cor-logo: #16E0BD;
    --cor-fonte: #1d1d1dad;
    --cor-botao-default: #16E0BD;
    --cor-transicao: #454E9E;
}

body {
    background-color: var(--cor-fundo);
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;

    justify-content: center;
    background-color: var(--cor-botao-default);
    border-radius: 12px;

    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    transition: background-color .5s ease;
}

.btn-default:hover {
    background-color: #454E9E;
}